div[outlook="line_chart_default"] {
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--color-border-bright);
    border-radius: 15px;
    margin: 5px;
    background-color: var(--color-background-container-bright);
    box-shadow: var(--size-shadow-S);
}