div[outlook="container_default"] {
    background-color: var(--color-background-container);
    border: 1px solid var(--color-border-bright);
    border-radius: 10px;
    box-shadow: var(--size-shadow-S);
    padding: 15px;
    width: fit-content;
    text-align: center;
}